*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}
* , *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
@media only screen and (max-device-width: 800px) {
        .body{
            flex-direction: column;
        }

        header{
            justify-content: center;
            align-items: center;
            
        }  
        
        .second-container{
            justify-content: center;
            align-items: center;
        }
        .portafolio{
            justify-content: center;
            align-items: center;
        }
        footer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        .contactame{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .mapa{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .container-mapa{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    } 
header{
    color: white;
    background-color: #181818;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.first-container nav{
    display: flex;
    align-items: center;
    justify-content: end;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 15px;
}
a{
    text-decoration: none;
}

.container-foto{
    display: flex;
    justify-content: center;
}
.foto{
    margin: 10px;
    width: 300px;
    border-radius: 50%;
    width: 250;
}
.container-logos{
    display: flex;
    justify-content: center;
    background-color: #C6D2C4;
    padding: 10px;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #EBF4EA;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 50px;
    flex: auto;
}
h2{
    font-size: 50px;
    flex:auto;
}
h3{
    font-size: 25px;
    flex:auto;
}
h6{
    font-size: 15px;
    flex:auto;
    text-align: center;
    margin-top: 18px;
}
a{
    color: white;
    
}
.tabla-idiomas{
    display: flex;
}
td {
    text-align: center;
  }
  table {
    width: 50%;
    margin-right: 400px ;
    margin-left: 390px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;

  }
 
  table, th, td {
    border: 1px solid;
  }
.portafolio{
    margin-bottom: 12px;
}
.container-portafolio{
    
    border: 0;
    padding: 0;
    background: #C6D2C4 ;
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap; 
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    flex-basis: auto;
    
}

.img5:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: rgb(68, 83, 71);
    
}
.container-conocimientos:hover,
.container-conocimientos:focus {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: rgb(68, 83, 71);
}

.container-conocimientos{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    justify-content: center;    
    padding: 56px;
    margin-left:  245px;
    margin-right: 245px;
    background-color: #C6D2C4;  
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
   
}
.container-conocimientos div{
    display: inline-block;

}
.img5{
    width: 32%;
    border-radius: 12%;
}
img, video {
    width: 100%;
    height: auto;
    }
.img6{
    width: 32%;
    border-radius: 12%;
}
.img7{
    width: 32%;
    border-radius: 12%;
}
.video1{
    float: left;
    padding: 0;
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3rem;
}

.table{
    border-spacing: 295px 10px;
}

div iframe{
    color: white;
    background-color: black;
}
footer{
    color: white;
    background-color: #181818;
   
}

.labelPortafolio{
    background-color: #A0AC9E;
    text-align: center;
    padding: 10px;
}


div table tr td image{
    border-radius: 10px;
    
}
.form-div{
    display: flex;
}
.form { 
    width: 100%;
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap; 
    row-gap: 0.5rem; 
    column-gap: 0.5rem;
    padding: 17px;
    flex: 1;
}
.name::-webkit-input-placeholder
{
    color: white;
}
.email::-webkit-input-placeholder
{
    color: white;
}
.asunto::-webkit-input-placeholder
{
    color: white;
}
.mensaje::-webkit-input-placeholder
{
    color: white;
}
.contacto-title{
    padding-left: 25px;
}
.contacto-title h3{
    margin-top: 10px;
}
input{
    background-color: grey;
    
}
.contactame{
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    row-gap: 0.5rem; 
    column-gap: 0.5rem;
    flex: 1;

}

.container-mapa div{
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    row-gap: 0.5rem; 
    column-gap: 0.5rem;
}
.mapa{
    width: 100%;
}
.conteiner-enlaces{
    width: 40%;

}
.enlaces{
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}
.enlaces a{
    width: 30%;
}
.img8{
    width: 32%;
}
.img10{
    width: 32%;
   
}
.img11{
    width: 32%;
    
}
.name{
    width: 43%;
   
}
.email{
    width: 43%;
    
}
.asunto{
    width: 92%;
}
.mensaje{
    width: 92%;
    height: 50%;
}
.boton-enviar{
    width: 20%;
    background-color: #181818;
    border: 1px solid white;
    color:white;
    
}

