<!DOCTYPE html>
<html>

<head>
    <title>Proyecto-2</title>
</head>
<link rel='stylesheet' href='..\public\stylesheets\estilo.css' />

<body>
    <h1> Fuente de datos </h1>
     <div class="data-table-container">
        <table class="datos-tabla">
            <thead>
                <tr>
                    <td>id</td>
                    <td>title</td>
                    <td>director</td>
                    <td>producer</td>
                    <td>running_time</td>
                    <td>score</td>
                    <td>release_date</td>
                   </tr>
            </thead>

            <tbody class="datos">

            </tbody>

        </table>

    </div>
    <h2> Links: </h2>
    <a href="https://ghibliapi.herokuapp.com/">https://ghibliapi.herokuapp.com/</a><br>
    <a href="https://ghibliapi.herokuapp.com/films">https://ghibliapi.herokuapp.com/films</a>
   
</body>

<script src="..\public\scripts\data.js"> </script>

</html>