<!DOCTYPE HTML>
<html lang="es">
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
        </style>
        <link rel='stylesheet' href='..\public\stylesheets\estilo.css' />
        <link rel="shortcut icon" type="image/x-icon" href=""/>
        <title>
            cv 
        </title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                  <li><a href="#"> Conocimiemtos</a></li>
                  <li><a href="#">Portafolio</a></li>
                  <li><a href="#">Contacto</a></li>
                </ul>
              </nav>
            <div>
                <h1>Hi!, Soy Nicole Moran Web Developer</h1>
            </div>  
        </header>
           
        <div>
            <img src="..\public\images\cvFoto.jpg" alt="foto de Nicole" title="imagen de perfil" width="250" >
            <table>
                <tr>
                    <td>
                        <img src="photo2.png" alt="img1">
                        <h5>Diseñador</h5>
                        <h6>Html, js, css</h6>
                    </td>
                    <td>
                        <img src="photo3.png" alt="img2">
                        <h5>Front-end</h5>
                        <h6>Web, Mobile, UI</h6>
                    </td>
                    <td>
                        <img src="photo4.png" alt="img3">
                        <h5>Back-end</h5>
                        <h6>Nodejs, Sprint, c.net</h6>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button name="button1"> Contactame </button>
                    </td>
                    <td></td>
                </tr>
                
            </table>

        </div>
        <div>
            <h3> Portafolio</h3>
            <table>
                <tr>
                    <td>
                        <img src="photo5.png" alt="img5">
                    </td>
                    <td>
                        <img src="photo6.png" alt="img6">
                    </td>
                    <td>
                        <img src="photo7.png" alt="img7">
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="photo5.png" alt="img5">
                    </td>
                    <td>
                        <img src="photo6.png" alt="img6">
                    </td>
                    <td>
                        <img src="photo7.png" alt="img7">
                    </td>
                </tr>
                
            </table>
        </div>
        <div>
            <h3>Contactame<h3>
            <form>
                <input type="text" placeholder="Nombre"> 
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Asunto">
                <input type="text" placeholder="Mensaje">
                <button name="button2"> Enviar </button>
            </form>
              </div>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15948.33387722299!2d-79.90806475000001!3d-2.1215473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sec!4v1666735214512!5m2!1ses!2sec" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <table>
                <tr>
                    <td>
                        <img src="photo2.png" alt="img1">
                        
                    </td>
                    <td>
                        <img src="photo3.png" alt="img2">
                        
                    </td>
                    <td>
                        <img src="photo4.png" alt="img3">
                        
                    </td>
                    <td>
                        <img src="photo4.png" alt="img3">
                        
                    </td>
                </tr>
             
                
            </table>
        </div>
       
    </body>
    <footer>Nicole Moran - 2022</footer>
    
</html>