:root{
    --primary-color: black;
    --secondary-color: rgb(61,68,73);
    --highlight-color: #3282b8;
    
    --dt-padding: 12px;
    --dt-padding-s: 6px;
    --dt-padding-xs: 2px;

    --dt-border-radius: 3px;

    --dt-background-color-container: #b4e2fb;
    --dt-border-color: var(--secondary-color);
    --dt-bg-color: var(--highlight-color);
    --dt-text-color: var(--primary-color);
    --dt-hover-cell-color: var(--highlight-color);
 

    background-color: rgb(88, 243, 183);
}

.data-table-container{
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--dt-background-color-container);
    border-radius: var(--dt-border-radius);
    color: var(--dt-text-color);
    width: 600px;
    margin: 0 auto;
    font-size: 12px;
}

.data-table-container .datos-tabla{
    border-collapse: collapse;
    width: 100%;
}

.data-table-container .datos-tabla,
.data-table-container.datos-tabla th,
.data-table-container .datos-tabla td{
    padding: var(--dt-padding) var(--dt-padding);
}

.data-table-container .datos-tabla th{
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px var(--dt-border-color);
}

.data-table-containerr .datos-tabla td{
    border-bottom: solid 1px var(--dt-border-color);
}

.data-table-container .datos-tabla tbody tr:nth-child(even){
    background-color: var(--dt-even-row-color);
}

.data-table-container .datos-tabla tbody tr:hover{
    background-color: var(--dt-hover-cell-color);
}
h1{
    text-align: center;
    color: black;
}
