*{
	font-family: 'Times New Roman', Times, serif;
	align-items: flex-start;
	
}
#header {
	background-image: url("../../../images/banner.png");
	background-size:     cover;                    
	background-repeat:   no-repeat;
	background-position: center center;
	height: 30vh;
	width: 100vw;
} 

#content {
	height: 70vh;
	width: 100vw;	
}

h1 {
	color: rgb(16, 19, 38);
	font-size: 2rem;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	font-style: oblique;
}
div.col-6.col-md-2{
	padding-bottom: 15px;
}
.card-body {
	padding: 0;
	background-color:rgba(152, 177, 188, 0.345);;;
}

a {
	font-style: italic;
	color:rgb(229, 229, 240);
	
	}

  
  .text-small {
	font-size: 85%;
  }
  
  .dropdown-toggle {
	outline: 0;
  }
  div#header.col-12{
	padding: 0;
  }
  div.container{
	padding: 0;
  }
 
 div.row.g-0{
	background-color: rgb(12, 90, 123);
	
 }
 div.row.g-0{
	border-radius: 5%;

	}
